// TODO: move colors, typography, etc to scss variables & mixin
// TODO: analize y we can move some styles to a global scss

label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #666;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.section-header {
    display:none;

    @media (mi-width: 400px) {
      display: block;
    }

    font-size: 1rem;
    color: #444444;
    text-transform: none;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  label {
    display: inline-block;
    margin: 0;
    text-transform: none;
    color: #444444;
    font-size: 0.9rem;
    padding: 0 1rem;
    width: 50%;

    &:hover {
      color: rgb(224, 48, 17);
    }
    &.selected {
      background-color: rgb(224, 48, 17); // rgb(110, 43, 150); //  rgb(236, 41, 41);
      color: white;
    }
  }

  input {
    display: none;
  }
}

.date-range {
  width: 100%;
}

:ng-deep {
  .mat-form-field-wrapper, .mat-form-field-appearance-outline .mat-form-field-flex {
    margin: 0 !important;
    padding: 0 !important;
  }


  // border-color: #ccc !important;
}
